.right__content {
  padding: 2rem;
}

.right__content > svg {
  width: 50px;
  fill: rgb(29, 155, 240);
}

.right__content h1 {
  font-weight: 700;
  font-size: 4rem;
}

.right__content h2 {
  font-weight: 700;
  font-size: 2rem;
}

.right__content .sign__up__buttons {
  margin-top: 1rem;
}

.right__content .sign__up__buttons {
  display: grid;
  gap: 1rem;
}

.right__content .sign__up__buttons em {
  font-size: 1.2rem;
}

.right__content .separator {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #cecece;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.right__content .separator span {
  background: #fff;
  padding: 0 14px;
}

.right__content .sign__up__with p {
  font-size: 0.8rem;
  line-height: 1;
}

.right__content .sign__up__with button {
  color: #fff;
  border: none;
  background-color: rgb(29, 155, 240);
  margin-bottom: 0.5rem;
}

.right__content .sign__up__with p {
  width: 50%;
}

.right__content .sign__in {
  margin-top: 2rem;
}

.right__content .sign__in button {
  color: rgb(29, 155, 240);
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .right__content {
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
