@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anek Telugu', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}

.left__content {
  background-image: url('./img/left.png '); 
}

.left__content > .twitter__icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__content > .twitter__icon > svg {
  width: 400px;
  fill: #fff;
}

.right__content {
  padding: 2rem;
}

.right__content > svg {
  width: 50px;
  fill: rgb(29, 155, 240);
}

.right__content h1 {
  font-weight: 700;
  font-size: 4rem;
}

.right__content h2 {
  font-weight: 700;
  font-size: 2rem;
}

.right__content .sign__up__buttons {
  display: grid;
  gap: 1rem;
}

.right__content .sign__up__buttons button, .right__content .sign__up__with button, .right__content .sign__in button {
  width: 50%;
  border: 2px solid rgb(207, 217, 222);
  background-color: #fff;
  padding: .7rem;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 700;
}

.separator {
  display: flex;
  gap: 1rem;
  width: 50%;
  justify-content: center;
}

.right__content .sign__up__with button {
  color: #fff;
  border: none;
  font-size: 1rem;
  background-color: rgb(29, 155, 240);
}

.right__content .sign__up__with p {
  width: 50%;
}

.right__content .sign__in {
  margin-top: 2rem;
}

.right__content .sign__in button {
  font-size: 1rem;
  color: rgb(29, 155, 240);
}